*{
	margin: 0;
	padding: 0;
	outline: 0;
  }
  
  
  body {
	font-size: 12px;
	line-height: 1.3;
	font-family: Arial, Helvetica, Sans-Serif;
	color: #ccc;
	background-color: #141414;
	display: grid;
	place-items: center;
	height: 100vh;
	margin: 0;
  }
  
  a {
	color: #e7b038;
	text-decoration: none;
	cursor: pointer;
  }
  
  a:hover {
	text-decoration: none;
  }
  
  a img {
	border: 0;
  }
  
  input, textarea, select {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  textarea {
	overflow: auto;
  }
  
  .cl {
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
	clear: both;
  }
  
  .notext {
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
  }
  
  .left, .alignleft {
	float: left;
	display: inline;
  }
  
  .right, .alignright {
	float: right;
	display: inline;
  }
  
  .text-right {
	text-align: right;
  }
  
  h2 {
	font-size: 10px;
	color: #f2a223;
	font-weight: bold;
  }
  
  h3 {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
  }
  
  h4 {
	font-size: 14px;
	color: #f3b12b;
	font-weight: bold;
  }
  
  #shell {
	width: 980px;
	margin: 0 auto;
  }
  
  #header {
	position: relative;
  }
  
  h1#logo {
	position: absolute;
	top: 15px;
	margin-left: 25px;
	padding-left: 50px;
	cursor: pointer;
  }
  
  .logo-image {
	width: 4%;
	position: absolute;
	top: 10px;
	margin-left: 20px;
	cursor: pointer;
  }
  
  h1#logo a {
	color: #fcfcfc;
	text-decoration: none;
  }
  
  p#sub-logo a {
	position: absolute;
	top: 45px;
	margin-left: 25px;
	padding-left: 50px;
	color: #ff9c2c;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 18px;
	cursor: pointer;
  }
  
  .navigation-container {
	background-color: #000;
	width: 100%;
	height: 12vh;
   
  top: 0; /* Add this line to position the container at the top */
  }
  
  #navigation {
	display: flex;
	align-items: center;
	margin-right: 100px;
	float: right;
	clear: right;
	padding-top: 28px;
	padding-bottom: 47px;
	padding-right: 70px;
  }
  
  #navigation ul {
	list-style: none;
	display: flex;
	align-items: center;
  }
  
  #navigation ul li {
	margin-left: 29px;
  }
  
  #navigation ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
  }
  
  #navigation ul li a.active,
  #navigation ul li a:hover {
	color: #d91d2a;
  }
  
  .search-container {
	display: flex;
	align-items: center;
	margin-left: 20px;
	position: relative;
  }
  
  .search-container input[type="text"] {
	padding: 8px;
	border: none;

	margin-right: 4px;
  }
  .search-container input[type="text"]::placeholder {
	color:#f3a21f; /* Replace with your desired color */
	font-weight: bold;
  }
  #search{
	height: 18px;
	margin-left: 10px;
	border-top-left-radius: 20px ;
	border-bottom-left-radius: 20px ;
	background-color: rgb(68, 68, 68) ;
	color: #ffffff;
	margin-right: 0;
  }
  .fa-magnifying-glass{
	background-color: rgb(68, 68, 68) ;
	padding: 10.5px;
	margin: 0;
	border-top-right-radius: 20px ;
	border-bottom-right-radius: 20px ;
  }
  
  .dropdown {
	display: none;
	position: absolute;
	font-family: 'Fjalla One', sans-serif;
	width: 400px;
	background-color: #131313;
	border:1px solid #f2a223;
	border-radius: 20px;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
	top: 100%; /* Position the dropdown below the parent element */
  left: 0; /* Align the dropdown with the left edge of the parent element */
  }
  
  
  .dropdown a {
	font-size: 2px;
	color: rgb(0, 0, 0);
	padding: 5px;
	text-decoration: none;
	display: inline-block;
	width: 80px; /* Adjust the width of each genre item for five columns */
	box-sizing: border-box;
	margin: 10px; /* Add more margin for spacing between items */
  }
  
  
  .genre-column {
	flex-basis: 15%; /* Adjust the flex-basis for four columns */
	padding: 5px;
	box-sizing: border-box;
  }
  
  .column-start {
	break-before: column; /* Start new column for items with this class */
  }
  
  .dropdown-container {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-container:hover .dropdown {
	display: block;
  }
  
  .dropdown a:hover {
	color: orange !important;
  }

  #search-suggestions {
	position: absolute;
	top: 100%;
	left: 0;
	width: 300px;
	background-color: #333333;
	border: 1px solid #ff9900;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	padding: 10px;
	display: none;
	z-index: 2;
	overflow: hidden;
  }
  
  #search-suggestions li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  }
  
  #search-suggestions li a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #333;
  }
  
  #search-suggestions li img {
	width: 30px; /* Adjust the width as needed */
	height: auto;
	margin-right: 10px;
  }
  
  #search-suggestions li span {
	flex: 1;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
  }

  #search-button{
	background:none;
	border: none;
	margin: -4px;
	padding: 0;
  }






  .main-container{
    width:100%;
    height: auto;
    background-color: #000;
    display: flex;
    flex-direction: column;

  }
  .container{
    display: flex;
    width: 100%;

  }
  .titleMore-container {
    float: left;
    left: 0;
    margin-left: 20px; /* Adjust the margin as needed */
  }
  .titleMore{
    margin: 20px;
  }
  .movie-section{
    width: 80%;
    height: auto;
    background-color: #000000;
    margin-left: 20px;
    margin-top: 0;
    border-radius: 20px;
  }

  #movie-tray {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  
	.movie-container {
		width: 169px;
		height: 40vh;
		background-color: #333333;
		margin: 10px;
		border-radius: 10px;
		display: inline-block; /* Add this line */
		vertical-align: top; /* Add this line */
		text-decoration: none;
	  }

	.movie-container:hover{
		box-shadow: 0 0 10px 5px #ffcc00;
		cursor: pointer;

	}
	/* Add a new CSS rule for the play button */
.playbuttons {
	display: none; /* Initially hide the play button */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100px;
	padding: 100%;
  }
  .playbuttons:hover {
	background-color: rgba(0, 0, 0, 0.7); /* Darken the background color */
  }
  
  /* Update the CSS rule for the movie container */
  .movie-container {
	position: relative; /* Set position to relative */
	overflow: hidden;
  }
  
  /* Update the CSS rule for the movie image */
  .movie-picture img {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease;
  }
  
  /* Add a new CSS rule to show the play button when hovering */
  .movie-container:hover .playbuttons {
	display: block;
  }
  
  /* Update the CSS rule for the movie title */
  .movie-title {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
  }
	  .movie-picture {
		background-color: #e7b038;
		width: 100%;
		height: 30vh;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		overflow: hidden;
		position: relative;
		display: inline-block;
	}
	
	.movie-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		
	}
	
	.overlay {
		position: absolute;
		top: 10px;
		right: 10px;
		background-color: rgba(0, 0, 0, 0.7);
		width: 30px;
		text-align: center;
		border-radius: 5px;
		color: #fff;
	  }
	.overlay h4 {
		margin: 0;
	  }
  
  .movie-title {
	text-align: center;
	border-bottom: 1px solid rgb(87, 87, 87);
	margin-top: 5px;
  }
  
  .movie-title h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  .title-text {
	font-size: 15px;
	color: #e7b038;
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  }
  
  .movie-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 10px;
	margin-top: 8px;
  }
  .runtime,
  .movie-year,
  .type, .type-series {
	color: #ff9100;
	margin-top: 8px;
  }
  .type-series{
	padding-left: 20px;
	margin-left: 60px
  }
  
  .type {
	margin-left: 30px;
	padding-left: 11px;
  }
  .runtime{
	margin-left: 2px;
	padding: px;
  }
  
  .movie-rating {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #e09a02;
	background-color: #141414;
	padding: 5px;
	border-radius: 5px;
	z-index: 1;
	font-weight: bold;
  }

.movie-container:hover .movie-picture img {
	transform: scale(1.05); /* Add a zoom effect to the movie image */
}

.overview{
	display: none;
}

.pageTracker-container{
	width: 350px;
	height: 40px;
	margin-bottom: 200px;
	margin-top: 30px;
	margin-left: 300px;
	display: flex;
	justify-content: center; /* Horizontally center the button */
	align-items: center; /* Vertically center the button */
}
.pageNumber{
	border: none;
	padding: 12px;
	border-radius: 10px;
	background-color: #f2a223;
	margin-left: 5px;
	display: inline;
}
.pageContainer{
	margin-left: 5px;
	
}


button{
	border: none;
	padding: 12px;
	border-radius: 10px;
	background-color: #f2a223;
	margin-left: 5px;
	display: inline;
	cursor: pointer;

}
button:active, button::after{
	background-color: #333333;
	color: #f2a223;

}
.active{
	background-color: #333333;
	color: #f2a223;
	cursor: pointer;
}












.filter-container{
    width: 40%;
  height: 100vh;
  border:#e09a02 5px solid;
  margin-left: 20px;
  border-radius: 20px;
  margin-right: 20px ;
 display: block;
 position: relative;

 
 
}

.fa-lock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	color: #ffbb00;
	border-radius: 20px;
	font-size: 24px;
	z-index: 2;
  }
#FilterCustom{
	font-size: 18px;
	display: inline-block;
}
.filters{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	padding-left: 30px;
	
}

.filterbutton{
	margin-left: 120px
}
.filterMessage{
	color: #e09a02;
	position: absolute;
	width: 100%;
	top: 40%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: #ffbb00;
	font-size: 24px;
	z-index: 2;
	margin-bottom: 20px;
	margin: 0;
}


   /* Define the custom scrollbar style */
   ::-webkit-scrollbar {
	width: 8px;
  }

  ::-webkit-scrollbar-track {
	background-color: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
	background-color: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
	background-color: #555;
  }

  #menu-icon{
	display: none;
  }

  .movie-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
  }

/*PHONE MODE*/
  @media only screen and (max-device-width: 1023px) and (orientation: portrait), (max-width: 1023px) and (orientation: portrait) {
	*{
		margin: 0;
		padding: 0;
		outline: 0;
	  }
	body{
		justify-content: flex-start;
		width: 100%;
	}
	#filter-container{
		display: none;
	}
	
	  
	  .navigation-container {
		height:15vh;
		position: relative;
		margin-bottom: 5px;
	  }
	  #navigation{
    	width: 250px;
		margin-right: 30px;
		margin-top: -20px;
		border-radius: 30px;
		padding: 0;
		z-index: 5;
		position: relative;
		background-color: #ff9900;
		border: #747474 5px solid;
		display: none;

    }
	  #navigation ul{
		display: block;
		margin-top: 20px;
	  }
	  #navigation ul li{
		margin-bottom: 20px;
	  }
	  #navigation ul li a{
		font-size: 15px;
		margin-bottom: 20px;
	  }
	  #search-suggestions {
        top: 100%;
        margin-left: -40px;
        left: 0;
        width: 250px;
        background-color: #333333;
        border: 1px solid #ff9900;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        padding: 10px;
        display: none;
        z-index: 2;
        overflow: hidden;
        }
     
	  .logo-image {
		width: 60px;
		position: absolute;
		top: 5px;
		margin-left: 5px;
	  }
	  h1#logo {
		margin-left: 10px;
		margin-top: -5px;
	  }
	  h1#logo a {
		color: #fcfcfc;
		text-decoration: none;
		font-size: 25px;
		top: -50px;
	  }
	 
	  p#sub-logo a {
		position: absolute;
		color: #ff9c2c;
		text-decoration: none;
		font-weight: bold;
		letter-spacing:11px;
		font-size: 25px;
		margin-top: -15px;
		margin-left: 10px;
	  }

	  #search-form{
		display: flex;
		
	  }
	  #search{
		margin-left: 0;
	  }
	  .dropdown {
		width: 150px;
		height: auto;
		transition: height 0.3s ease; 
	  }
	  .dropdown a{
		display: block;
	  }
	  #menu-icon{
		float: right;
		font-size: 30px;
		display: flex;
		margin: 20px;
	  }
	 #more-tray, .container, #movie-sections{
		width: 100% !important;
		margin: 0 auto !important;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	  }
	  .movie-row{
		width: 100%;
	  }
	  .container{
		display: flex;
	  }
	  .pageTracker-container{
		width: 100%;
		margin: 0 auto;
	  }

	  .movie-container{
		width: 150px;
		height: 50vh;

	  }
	  .movie-picture{
		height: 35vh;
		width: 100%;
	  }
	  .movie-info{
		margin-top: 20px;
	  }
	  .type, .movie-year{
		font-weight: bold !important;
	  }
	  .type{
		margin-left: 60px;
	  }
  }
  @media only screen and (max-device-width: 1023px) and (orientation: landscape), (max-width: 1023px) and (orientation: landscape) {
	*{
		margin: 0;
		padding: 0;
		outline: 0;
	  }
	body{
		justify-content: flex-start;
	}
	#filter-container{
		display: none;
	}
	
	 
		
	
	  
	  .navigation-container {
		height: 20vh;
		position: relative;
		margin-bottom: 5px;
	  }
	  #navigation{
    	width: 250px;
		margin-right: 30px;
		margin-top: -20px;
		border-radius: 30px;
		padding: 0;
		z-index: 5;
		position: relative;
		background-color: #ff9900;
		border: #747474 5px solid;
		display: none;
    }
	  #navigation ul{
		display: block;
		margin-top: 20px;
	  }
	  #navigation ul li{
		margin-bottom: 20px;
	  }
	  #navigation ul li a{
		font-size: 15px;
		margin-bottom: 20px;
	  }
	  #search-suggestions {
        top: 100%;
        margin-left: -40px;
        left: 0;
        width: 250px;
        background-color: #333333;
        border: 1px solid #ff9900;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        padding: 10px;
        display: none;
        z-index: 2;
        overflow: hidden;
        }
     
	  .logo-image {
		width: 60px;
		position: absolute;
		top: 5px;
		margin-left: 5px;
	  }
	  h1#logo {
		margin-left: 10px;
		margin-top: -5px;
	  }
	  h1#logo a {
		color: #fcfcfc;
		text-decoration: none;
		font-size: 25px;
		top: -50px;
	  }
	 
	  p#sub-logo a {
		position: absolute;
		color: #ff9c2c;
		text-decoration: none;
		font-weight: bold;
		letter-spacing:11px;
		font-size: 25px;
		margin-top: -15px;
		margin-left: 10px;
	  }

	  #search-form{
		display: flex;
		
	  }
	  #search{
		margin-left: 0;
	  }
	  .dropdown {
		width: 150px;
		height: auto;
		transition: height 0.3s ease; 
	  }
	  .dropdown a{
		display: block;
	  }
	  #menu-icon{
		float: right;
		font-size: 30px;
		display:flex;
		margin: 20px;
	  }
	 #more-tray, .container, #movie-sections{
		width: 100% !important;
		margin: 0 auto !important;
		display: inline-block !important;
	  }
	
	  .movie-row{
		width: 100%;
	  }
	  .container{
		display: flex;
	  }
	  .pageTracker-container{
		width: 100%;
		margin: 0 auto;
	  }

	  .movie-container{
		width: 230px;
		height: 75vh;

	  }
	  .movie-picture{
		height: 55vh;
		width: 100%;
	  }
	  .title-text{
		font-size: 20px;
	  }
	  .movie-info{
		font-size: 15px;
		font-weight: bold;
	  }
	  .type{
		margin-left: 80px;
	  }
  }



 